<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
</head>
<body>
    <h2>Chat App</h2>
    <p></p>
    <form action="">
        <input type="text" name="userChat" id="userChat">
        <button type="submit" onclick="postChat()">Submit</button>
    </form>
    <ul id="chatUL" class="chatClass">
        
    </ul>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        const userlogin= (localStorage.getItem('token')) ? true: false
        if(userlogin){
            const p=document.createElement('p')
            p.innerText='You joined'
            document.body.append(p)
        }
        else{
            const p=document.createElement('p')
            p.innerText='failed'
            document.body.append(p)
        }
        function postChat(){
            const token = localStorage.getItem('token')
            let obj ={
                chat:document.getElementById('userChat').value
            }
            axios.post('http://localhost:3000/chat/postchat',obj,{headers:{'Authorization':token}}).then(res=>{
                console.log(res)
            }).catch(e=>{
                console.log(e)
            })}
        function getChats(){
            const token = localStorage.getItem('token')
            axios.get('http://localhost:3000/chat/getchats',{headers:{'Authorization':token}})
                .then(res=>{
                    console.log(res)
                    let list=document.getElementById('chatUL')
                    list.innerHTML=''
                    res.data.chats.forEach(chat=>{
                        let li= document.createElement('li')
                        li.class='detailsList';
                        let rmvbutton=document.createElement('button')
                        rmvbutton.id='remove'
                        rmvbutton.innerText='Remove'
                        rmvbutton.addEventListener('click',function(){
                            deletechat(chat.id)
                        })
                        li.append(document.createTextNode(chat.userDetail.name+'-'),document.createTextNode(chat.chat+' '),rmvbutton)
                        list.appendChild(li)
            })
                })
        }
        getChats()
        setInterval(getChats, 10000);
    </script>
</body>
</html>