<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script>
        window.onload = function() {
            // Function to parse URL parameters
            function getUrlParameter(name) {
                const urlParams = new URLSearchParams(window.location.search);
                return urlParams.get(name);
            }

            // Get the isActive and message parameters from the URL
            const token = getUrlParameter('token');
            const message = getUrlParameter('message');
            const newPassword=getUrlParameter('pass')
            const obj ={token,message,newPassword}
            axios.post('http://localhost:3000/password/newpassword',obj).then((result)=>{
                if(result.data.success=='true'){
                    window.location.href='/login.htm'
                }
                throw new Error('Something went wrong')
            }).catch(e=>{
                console.log(e)
            })
        };
    </script>
</body>
</html>
